@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #0f172a;
  --primary: #ea2a33;
  --accent-blue: #2563eb;
  --accent-orange: #f97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent-blue: var(--accent-blue);
  --color-accent-orange: var(--accent-orange);
  --font-sans: var(--font-public-sans);

  /* Slate colors */
  --color-slate-950: #020617;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;

  /* Border radius */
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #211111;
    --foreground: #f8f6f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
